{% load menu_tags %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
   a:link {
    color: #0000d0; /* Цвет ссылок */
   }

   a:active {
    color: #f00; /* Цвет активной ссылки */
   }
  </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>TestTask</title>
</head>
<body>


    <h1>Меню</h1>
    {% draw_menu menu_name %}


</body>
</html>